@import './abstracts/variable';
@import './mixins/breakpoints';
@import './abstracts/common';
@import './includes/header';
@import './includes/footer';

body{
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

.tasks-section-wrapper{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include media-min-xl{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include media-min-xl-x{
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .total-task-section-one{
        padding: 10px;
        .total-task{
            border-radius: 15px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content{
                display: flex;
                .icon-task{
                    background-color: rgb(224,236,255);
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .task{
                        padding: 10px;
                        color: rgb(71,145,255);
                        font-size: 35px;
                    }
                }
                .total-task-content{
                    margin-left: 15px;
                    h3{
                        color: grey;
                        font-weight: 300;
                        font-size: 15px;
                        padding-bottom: 8px;
                        @include media-min-sm{
                            font-size: 20px;
                        }
                    }
                    h1{
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
            }
            .count{
                color: rgb(255,46,127);
                font-size: 15px;
                @include media-min-sm{
                    font-size:18px;
                }
                @include media-min-md{
                    padding: 0 15px;
                }
            }
        }
    }
    .total-task-section-two{
        .content{
            .icon-task{
                background-color: rgb(255,248,226) !important;
                .task{
                    color: rgb(255,217,80)!important;
                }
            }
        }
        .count{
            color: rgb(12,201,187) !important;
        }
        @extend .total-task-section-one;
    }
    .total-task-section-three{
        @extend .total-task-section-one;
        .content{
            .icon-task{
                background-color: rgb(255,218,229) !important;
                .task{
                    color: rgb(255,35,102)!important;
                }
            }
        }
        .count{
            color: rgb(255,35,102) !important;
        }
    }
    .total-task-section-four{
        @extend .total-task-section-one;
        .content{
            .icon-task{
                background-color: rgb(213,243,232) !important;
                .task{
                    color: rgb(2,188,119)!important;
                }
            }
        }
        .count{
            color: rgb(12,201,187) !important;
        }
    }
}

.total-section-wrapper{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include media-min-xl{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include media-min-xl-x{
        width: 80%;
        margin: 0 auto;
    }
    .total-sales-section{
        padding: 10px;
        .total-sales-content{
            border-radius: 15px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
            h3{
                color: grey;
                padding: 20px; 
                font-weight: 300;
                font-size: 20px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.733);
            }
            .stasts{
                padding: 20px; 
                h2{
                    padding: 8px 0;
                    font-size: 30px;
                }
                .sales-low{
                   color: rgb(255,46,127);
                   font-size: 20px;
                   font-weight: 300;
                }
                .high-stats{
                    font-size: 20px;
                    color: rgb(12,201,187);
                    font-weight: 300;
                }
            }
        }
    }
}

.total-grapy-wrapper{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include media-min-xl{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include media-min-xl-x{
        width: 80%;
        margin: 0 auto;
    }
    .total-grapy-section{
        padding: 10px;
        .total-grapy-content{ 
            border-radius: 15px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
            padding: 30px 20px;
            h3{
                color: grey;
                font-weight: 300;
                padding-bottom: 8px;
                font-size: 20px;
            }
            h2{
                font-size: 30px;
                font-weight: 600;
            }
            .total-balance{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .high-total{
                    color: rgb(12,201,187);
                }
            }
        }
    }
}

.seller-section-overall-wrapper{
    @include media-min-lg-x{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include media-min-xl-x{
        width: 80%;
        margin: 0 auto;
    }
    .best-seller-wrapper{
        margin: 20px;
        border-radius: 15px;
        background-color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        .best-seller-section{
            padding: 10px;
            .best-seller-content{
                h3{
                    padding: 15px;
                    color: gray;
                    font-weight: 500;
                    border-bottom: 1px solid grey;
                }
                .overall-progress-section{
                    padding: 1rem 0;
                    .progress-section{
                        padding: 15px;
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        @include media-min-md{
                            grid-template-columns: 1fr 6fr;
                        }
                        .images{
                            .seller-images{
                                width: 80px;
                                height: 80px;
                                border-radius: 15px;
                                object-fit: cover;
                            }
                        }
                        .progress-section-content{
                            margin-left: 10px;
                            h4{
                                font-size: 16px;
                                font-weight: 600;
                            }
                            .progress-container{
                                .pro-bar{
                                    padding: 8px 0;
                                    .progress{
                                        width: 100%;
                                        height: 6px;
                                        background: rgba(128, 128, 128, 0.637);
                                        border-radius: 5px;
                                        .progress-bar{
                                            height: 100%;
                                            border-radius: 5px;
                                            background: rgb(71,145,255);
                                            width: 75%;
                                        }
                                    }
                                }
                                h5{
                                    color: gray;
                                    padding: px 0;
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .seller-wrapper{
        margin: 20px;
        border-radius: 15px;
        background-color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        .seller-section{
            padding: 10px;
            .seller-content{
                h3{
                    padding: 15px;
                    color: gray;
                    font-weight: 500;
                    border-bottom: 1px solid grey;
                }
                .overall-wrapper{
                    padding: 1rem 0;
                    .overall-details{
                        padding: 15px;
                        .short-detail-seller{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h4{
                                font-size: 15px;
                                font-weight: 600;
                            }
                            h5{
                                color: grey;
                                font-weight: 500;
                            }
                        }
                        .progress-overall{
                            padding: 15px 0;
                            width: 100%;
                            .progress{
                                width: 100%;
                                height: 6px;
                                background: rgba(128, 128, 128, 0.637);
                                border-radius: 5px;
                                .progress-bar{
                                    height: 100%;
                                    border-radius: 5px;
                                    background: rgb(71,145,255);
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.table-section-wrapper{
    display: none;
    @include media-min-lg{
        display: block;
        padding: 20px;
        @include media-min-xl-x{
            width: 80%;
            margin: 0 auto;
        }
        .table-section-container{
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
            border-radius: 15px;
            color: grey;
            .table-section{
                h4{
                    padding: 30px 20px;
                    font-size: 18px;
                    color: grey;
                    font-weight: 500;
                    border-bottom: 1px solid grey;
                }
            }
            table{
                border-collapse: collapse;
                width: 100%;
                td,th{
                    padding: 25px;
                }
                th{
                    // display: none;
                    border-bottom: 1px solid grey;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: left;
                }
                .table-image{
                    display: flex;
                    align-items: center;
                    img{
                        width: 70px;
                        height: 70px;
                        border-radius: 20px;
                    }
                    h3{
                        font-size: 16px;
                        font-weight: 500;
                        margin-left: 15px;
                    }
    
                }
                .view{
                    border:1px solid grey;
                    padding: 8px 15px;
                    border-radius: 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
}

.activity-section-wrapper{
    padding: 15px;
    .activity-section{
        padding: 10px;
        .activity-feed{
            border-radius: 15px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
            h3{
                color: grey;
                font-weight: 500;
                font-size: 16px;
                padding: 30px 20px;
                border-bottom: 1px solid grey;
            }
            .activity-list-overall{
                padding: 30px 20px;
                .activity-list{
                    display: flex;
                    padding-bottom: 20px;
                    .act-image{
                        .user-feed{
                            width: 60px;
                            height: 60px;
                            border-radius: 10px;
                            object-fit: cover;
                        }
                    }
                    .act-content{
                        margin-left: 13px;
                        h4{
                            font-weight: 500;
                            color: grey;
                            font-size: 14px;
                            Strong{
                                padding: 0  10px 0 0;
                                color: black;
                            }
                        }
                        p{
                            font-size: 13px;
                            color: grey;
                            padding: 8px 0;
                        }
                        h6{
                            font-size: 13px;
                            color: grey;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}