@import './abstracts/variable';
@import './mixins/breakpoints';
@import './abstracts/common';
@import './includes/header';
@import './includes/footer';

body{
    background-color: whitesmoke;
}
.tasks-section-wrapper{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include media-min-xl{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include media-min-xl-x{
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .total-task-section-one{
        padding: 10px;
        .total-task{
            border-radius: 15px;
            background-color: white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content{
                display: flex;
                .icon-task{
                    background-color: rgb(224,236,255);
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .task{
                        padding: 10px;
                        color: rgb(71,145,255);
                        font-size: 35px;
                    }
                }
                .total-task-content{
                    margin-left: 15px;
                    h3{
                        color: grey;
                        font-weight: 300;
                        font-size: 15px;
                        padding-bottom: 8px;
                        @include media-min-sm{
                            font-size: 20px;
                        }
                    }
                    h1{
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
            }
            .count{
                color: rgb(255,46,127);
                font-size: 15px;
                @include media-min-sm{
                    font-size:18px;
                }
                @include media-min-md{
                    padding: 0 15px;
                }
            }
        }
    }
    .total-task-section-two{
        .content{
            .icon-task{
                background-color: rgb(255,248,226) !important;
                .task{
                    color: rgb(255,217,80)!important;
                }
            }
        }
        .count{
            color: rgb(12,201,187) !important;
        }
        @extend .total-task-section-one;
    }
    .total-task-section-three{
        @extend .total-task-section-one;
        .content{
            .icon-task{
                background-color: rgb(255,218,229) !important;
                .task{
                    color: rgb(255,35,102)!important;
                }
            }
        }
        .count{
            color: rgb(12,201,187) !important;
        }
    }
    .total-task-section-four{
        @extend .total-task-section-one;
        .content{
            .icon-task{
                background-color: rgb(213,243,232) !important;
                .task{
                    color: rgb(2,188,119)!important;
                }
            }
        }
        .count{
            color: rgb(12,201,187) !important;
        }
    }
}
.total-section-wrapper{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include media-min-xl{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include media-min-xl-x{
        width: 80%;
        margin: 0 auto;
    }
    .total-sales-section{
        padding: 10px;
        .total-sales-content{
            border-radius: 15px;
            background-color: white;
            h3{
                color: grey;
                padding: 20px; 
                font-weight: 300;
                font-size: 20px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.733);
            }
            .stasts{
                padding: 20px; 
                h2{
                    padding: 8px 0;
                    font-size: 30px;
                }
                .sales-low{
                   color: rgb(255,46,127);
                   font-size: 20px;
                   font-weight: 300;
                }
                .high-stats{
                    font-size: 20px;
                    color: rgb(12,201,187);
                    font-weight: 300;
                }
            }
        }
    }
}
.total-grapy-wrapper{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include media-min-xl{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include media-min-xl-x{
        width: 80%;
        margin: 0 auto;
    }
    .total-grapy-section{
        padding: 10px;
        .total-grapy-content{
            border-radius: 15px;
            background-color: white;
            padding: 30px 20px;
            h3{
                color: grey;
                font-weight: 300;
                padding-bottom: 8px;
                font-size: 20px;
            }
            h2{
                font-size: 30px;
                font-weight: 600;
            }
            .total-balance{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .high-total{
                    color: rgb(12,201,187);
                }
            }
        }
    }
}
.best-seller-wrapper{
    padding: 15px;
    .best-seller-section{
        padding: 10px;
        .best-seller-content{
            border-radius: 15px;
            background-color: white;
            h3{
                padding: 20px;
                color: gray;
                font-weight: 300;
                border-bottom: 1px solid grey;
            }
            .progress-section{
                padding: 20px;
                display: flex;
                .seller-images{
                    width: 80px;
                    height: 80px;
                    border-radius: 15px;
                    object-fit: cover;
                }
                .progress-section-content{
                    margin-left: 10px;
                    .progress{
                        // padding: 0 10px;     
                        progress{
                            height: 12px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}